body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 1390px; */
}
.announcement{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb49;
}
.announcement_left, .announcement_middle, .announcement_right{
    text-align: center;
    color: #243F48;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 25px;;
}
header{
    width:97%;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
}
.header_left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header_left a, .header_right a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}
.header_left a:hover, .header_right a:hover{
    color: #e53f6d;;
}
.header_middle img{
    height: 115px;
    width: auto;
}
.banner img{
    width: 99.7%;
    height: auto;
}
.media_container{
    width: 100%;
    height: 150px;
    display: flex;
    gap: 10px;
}
.media_container_1, .media_container_2, .media_container_3, .media_container_4{
    flex: 1;
    background-color: white;
    text-align: center;
}
.media_container_1 h3, .media_container_2 h3, .media_container_3 h3, .media_container_4 h3{
    color: #203b59;
    font-size: 22px;
}
.trending_now{
    width: 100%;
    height: 100px;;
    text-align: center;
}
.video_links{
    width: 99%;
    height: 600px;
    display: flex;
    gap: 10px;
    padding: 0 10px;
}
.video_link_1, .video_link_2, .video_link_3, .video_link_4, .video_link_5{
    background-color: white;
    height: 600px;
}
.video_link_1 video, .video_link_2 video, .video_link_3 video, .video_link_4 video, .video_link_5 video{
    height: 600px;
    width: 100%;
}
.recommended{
    width: 100%;
    height: 800px;
    text-align: center;
}
.text_center a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    margin-right: 12px;
    border-bottom: 2px solid;
    transition: .3s;
}
.text_center a:hover{
    color: black;
}
.product_container{
    width: 99%;
    height: 640px;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    margin-top: 40px;
}
.product_container_1, .product_container_2, .product_container_3, .product_container_4{
    background-color: white;
    height: 600px;
}
.discount{
    text-align: center;
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.product_container_1 img, .product_container_2 img, .product_container_3 img, .product_container_4 img{
    height: 400px;
    width: 100%;
}
.product_container_1 button, .product_container_2 button, .product_container_3 button, .product_container_4 button{
    width: 100%;
    background-color: #ffbb49;
    padding: 17px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.product_container_1 button:hover, .product_container_2 button:hover, .product_container_3 button:hover, .product_container_4 button:hover{
    background-color: #e53f6d;
    color: white;
}
.product_container_1 a, .product_container_2 a, .product_container_3 a, .product_container_4 a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
}
.all_product_btn{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.all_product_btn a{
    text-decoration: none;
    color: #e53f6d;
    border: 2px solid #e53f6d;
    height: 35px;
    width: 173px;
    padding-top: 16px;
    padding-left: 53px;
    font-weight: 600;
    transition: .3s;
}
.all_product_btn a:hover{
    background-color: #e53f6d;
    color: white;
}
/* *{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
} */
.foot{
    width:100%;
    height: 550px;
    background-color: #ffbb49;
}
.footer1{
    height: 350px;
    padding: 64px 0px 32px;

}

.foot2{
    padding: 24px 0px;
    border-top:1px solid;
    
}
.foot2 p{
    margin-left: 38px;
}
.footer1{
    display: flex;
    color: black;
    margin-left: 40px;

}
.f1{
    margin-top: 10px;
    width: 342.7px;
    height: 275.4px;
    padding: 0px 48px 0px 0px;
    font: 17px;
    line-height: 30px;
}
.f2{
     display: flex;
    flex-direction: column;
    width: 342.7px;
    height: 353px;
    padding: 0px 0px 20px;
    font: 17px;
    line-height: 45px;
    
}
.f2 h4{
    margin-bottom: 10px;
   
}
.f2 a{
    text-decoration: none;
    color: black;
}
.f3 a{
    text-decoration: none;
    color: black;
}
.f3{
    display: flex;
    flex-direction: column;
    width: 342.7px;
    height: 190.6px;
    padding: 0px 0px 20px;
    font: 17px;
    line-height: 45px;
    text-decoration: none;
}
.f3 h4{
     margin-bottom: 10px;
}
.f4{
    margin: 15px;
    width: 342.7px;
    height: 113px;
    padding: 0px 0px 20px;
    font: 17px;
}   
.icon{
    display: flex;
    gap: 22px;
    margin-top: 35px;
}
h4{
    font-weight: 800;
}
.slide{
    height: 256px;
    /* display: flex; */
     width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(200px*16);
    animation-duration: 30s;
    animation-timing-function:linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: moveSlideshow;


}

.image img {
    width: 192px;
    margin: 0px 5px;
}
.slder{
    display: flex;
    width: max-content;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes moveSlideshow {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-100%);
}
}

.sec5{
    width:100%;
    height: 197.6;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    height: 100px;
    margin-top: 15px;
}
.heading h1{
    font-weight: 900;
}
.element{
    display: flex;
    gap: 150px;
}
.details{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: bolder;
}


.btn{
    width: 156.85px;
    height: 49px;
    background-color: #ffbb49;
    padding: 18px 32px;
    border: none;
    font-weight: 545;
}
.sec4{
    width: 100%;
    /* height: 376.5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: #e6538b;
    margin: 50px 0px 0px;
    padding: 80px 0px 100px;
    color:#ffffff;
background: linear-gradient(280deg, rgba(230, 83, 139, 1) 46%, rgba(237, 221, 83, 1) 100%);
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.sec2{
    width:100%;
    height: 525px;
    margin: 0px 15px;
    display: flex;
}
.imgg1{
    width: 745.4px;
    height: 440px;
    padding: 0px 15px;
}
.imgg2{
    width: 745.4px;
    height: 440px;
    padding: 0px 15px;
}
.btn2{
    position: absolute;
    left: 75px;
    top:2850px;
    width: 146.69px;
    height: 49.2px;
    color: #ffffff;
    padding: 14px 32px;
    font-size: 13px;
    background: transparent;
    border: 2px solid #ffffff;
}
.btn3{
    position: absolute;
    left: 832px;
    top:2850px;
    width: 146.69px;
    height: 49.2px;
    color: #ffffff;
    padding: 14px 32px;
    font-size: 13px;
    background: transparent;
    border: 2px solid #ffffff;
}
.sec3 .imge img:hover{
    transform: scale(1.1,1.1);
}
